@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #6096ba;
    --secondary-color: #e7ecef;
    --tertiary-color: #a3cef1;
    --correct-color: #4ac054;
    --incorrect-color: #be3b3b;
    --primary-text: #8b8c89;
    --header-height: 72px;
}

*,
*::before,
*::after {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
a.active {
    text-decoration: underline;
    font-weight: 700;
}
@media screen and (min-width: 768px) {
    a.active {
        border-radius: 16px;
        padding: 8px 16px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}
.wave {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-mobile svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 133px;
}

.wave .shape-fill {
    fill: var(--secondary-color);
}

.wave-desktop svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 159px;
}

.card-container {
    perspective: 800px;
}
.card {
    transform-style: preserve-3d;
}
.card-container:hover > div,
.card-container:focus > div {
    cursor: pointer;
    transform: rotateY(180deg);
}
.card-container:hover .info-container,
.card-container:focus .info-container {
    animation: slideUp 1.5s ease;
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
}
.card-front,
.card-back {
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
}

.results-container.show {
    opacity: 100%;
    visibility: visible;
    transform: translateY(0px);
    position: relative;
}
